.footer{
  display: flex;
  justify-content: space-between;
  background: #F4F4F4;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.15);
  padding: 28px 228px 53px 53px;
  margin-top: auto;
  &__item{
    display: flex;
    flex-direction: column;
  }
  &__link{
    margin-bottom: 22px;
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    color: #4F4F4F;
    text-decoration: none;
    &:first-child{
      margin-top: 10px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__society{
    &-text{
      margin-top: 10px;
      margin-bottom: 28px;
      font-family: "Fira Sans";
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 100%;
      color: #4F4F4F;
    }
    &-link{
      display: inline-block;
      margin-right: 14px;
    }
  }
}