.title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84px;
  background: #F2F2F2;
  font-family: "Myriad";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  color: #000000;
}