.schemes {
  margin-top: 29px;
  height: 744px;

  &__row {
    padding: 0 42px;
    margin-bottom: 60px;
  }

  &__title {
    margin-bottom: 20px;
    font-family: "Myriad";
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 120%;
    color: #000000;
  }
  &__arrow{
    margin-left: 8px;
  }
&__list{
  display: flex;
}
  &__add {
    opacity: 0.6;
    border: 1px dashed #000000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 176px;
    height: 232px;
    margin-right: 16px;
    &:hover{
      background: rgba(0, 109, 241, 0.1);
    }
  }
  &__scheme{
    &-item{
      width: 176px;
      height: 232px;
      margin-right: 16px;
      border: 1px dashed #E0E0E0;
      border-radius: 4px 5px 5px 5px;
    }
    &-img{
      border-bottom: 1px dashed #E0E0E0;
      padding: 4px 3px 6px 6px;
    }
    &-info{
      padding: 9px 7px 5px 9px;
    }
    &-title{
      margin-bottom: 14px;
      height: 30px;
      overflow: hidden;
      font-family: "Myriad";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 120%;
      color: #000000;
    }
    &-data{
      font-family: "Myriad";
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 120%;
      color: #4F4F4F;
    }
  }
}